.header__navigation
  display: flex
  justify-content: space-between
  justify-items: center
  &--menu
    display: flex
    justify-content: space-between
    margin-top: 15px
    font: 400/15px $font-Montserrat
    color: $primary-color
  &--list
    margin-left: 10px

