.works
  padding-top: 99px
  &__block
    max-width: 1600px
    margin: auto
    width: 100%
    display: flex
    justify-content: space-between
    @media screen and (max-width: 1600px)
      flex-direction: row
      //align-items: center
      justify-content: space-around
      flex-wrap: wrap
  &__item
    flex-basis: 100%
    position: relative
    transition: 0.3s
  &__img
    max-width: 320px
    width: 100%
    height: 200px
    @media screen and (max-width: 1600px)
      margin: 0 auto
  @each $img in img-one, img-two, img-three, img-four, img-five, img-six, img-seven, img-eight, img-nine,img-ten, img-eleven ,img-twelf, img-thierteen, img-fourteen, img-fifteen,
    &__#{$img}-icon
      background-image: url('../img/#{$img}.png')
  &__item--hover
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    opacity: 0
    background: rgba(0,0,0,0.7)
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    @media screen and (max-width: 1600px)
      max-width: 320px
      width: 100%
      margin: 0 auto
    &:hover
      opacity: 1
      transition: 0.4s
  &__item--hover_title
    margin-bottom: 10px
    color: $third-color
    font: 700 15px $font-Montserrat
  &__item--hover_text
    opacity: 0.8
    color: $third-color
    font: 400 13px $font-Montserrat
  &__section-header
    margin-bottom: 17px
  &__section-header_description
    opacity: 0.8
    &::after
      content: ''
      display: block
      max-width: 40px
      width: 100%
      height: 2px
      margin: 16px auto 59px
      opacity: 0.8
      background-color: $second-color
